body {
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.center {
  font-size: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-home {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.page-right {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}
